/* font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace; */

:root{
    --color-primary:#7F5AF0;
    --color-secondary:#2CB67D;
    --color-black-1:#16161A;
    --color-black-2:#72757E;
    --color-black-3:#94A1B2;
    --color-black-4:#18181C;
    --color-white:#ffffff;
    --font-raleway:'Raleway', sans-serif;
    --font-roboto:'Roboto Mono', monospace;
    --font-mons:'Raleway', sans-serif;
}

html{
    font-size:10px;
    font-weight:400;
    font-family:var(--font-mons);
}

body{
    background-color: var(--color-black-1);
}

.nav-item{
    font-size:1.7rem;
    font-weight:500;
    letter-spacing:1px;
    padding:10px 15px;
}

a.nav-link{
    color:var(--color-white);
}

div.content-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    text-align: center;
}

.my-name{
    font-weight:700;
    font-size:7rem;
    letter-spacing: 2px;
    color:var(--color-white);
}

h3.my-desc{
    font-size:3.5rem;
    color:var(--color-white);
    font-weight:300;
    margin-top:2rem;
}

/* ============================loader============================ */

.lines{
    width:100%;
    height:100vh;
    background-color: transparent;
    pointer-events: none;
    display:flex;
    flex-direction: column;
    list-style: none;
    position:absolute;
    top:0;
    left:0;
    padding:0;
    margin:0;
    z-index:11;
}

.line{
    width:100%;
    height:20vh;
    background-color: #fff;
    transform:scaleX(0);
}

.typed-cursor{
    animation:none!important;
}

.cross-icon{
    background-color:#000;
    display:inline-block;
    width:6rem;
    height:6rem;
    border-radius:100%;
    position:fixed;
    top:3rem;
    right:3rem;
    /* box-shadow:0 .5rem 2rem rgba(255, 0, 0, 0.5); */
    animation:lighting 3s ease infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.cross-line::before{
    content:"";
    display:block;
    width:3.5rem;
    height:1.5px;
    background:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
}

.cross-line::after{
    content:"";
    display:block;
    width:3.5rem;
    height:1.5px;
    background:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
}

@keyframes lighting{
    0%{
        box-shadow:0 .5rem 2rem rgba(44, 182, 125, 0.295);
    }

    100%{
        box-shadow:0 .5rem 2rem rgba(44, 182, 125, 0.842);
    }
}

/* ==========================SOCIAL MEDIA ICON ========================== */

.socials{
    position:absolute;
    bottom:30px;
    right:30px;
    display:flex;
    flex-direction: column;
}

.socials > a{
    color:var(--color-black-3);
    text-decoration: none;
    font-size:1.8rem;
    margin-bottom:10px;
}

.socials > a:hover{
    color:var(--color-black-2);
}


@media(max-width:820px) {
    .my-name{
        font-size:4rem;
    }
    .my-desc{
        font-size:1.8rem;
    }
}

/* ========================== Portfolio Page ========================== */


.portfolio-upper{
    padding-top:100px;
}

.portfolio__heading{
    padding-bottom:5px;
}

.portfolio__details{
    font-size:1.5rem;
    font-weight:400;
    color:var(--color-black-3);
    letter-spacing:1px;
    
}

.portfolio__menu ul{
    list-style:none;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:0;
}

.portfolio__menu ul >li {
    color:#fff;
    font-size:1.6rem;
    padding:2px;
    margin:10px 20px;
    line-height:1.3;
    /* border-bottom:1px solid #fff; */
    position: relative;
    cursor: pointer;
}

.portfolio__menu ul > li::before{
    content:"";
    background-color:#2CB67D;
    position:absolute;
    bottom:-2px;
    left:0;
    width:100%;
    height:2px;
    transform:scaleX(0);
    transition:.3s;
    transform-origin: left;
}



.portfolio__menu ul > li:hover::before{
    transform:scaleX(1);
    transform-origin: right;
}

.portfolio__menu ul li.active{
    border-bottom:2px solid #2CB67D;
    
}
